In [1]:
import pandas as pd

In [2]:
df_customers = pd.read_csv("../data_raw/tonic_fabricate_db/customer.csv")

In [3]:
df_customers.head()

,customer_id,customer_number,customer_name,creation_date,department,city,address,phone,email,status
0,1,CL00001,Los Pinos Hermanos,2012-12-27,Montevide0,Montevideo,Ruta 2 Km 34,+598 80 605971,CONTACTO@LOSPINOSHERMANOS.COM.UY,Activo
1,2,CL00002,Don Juan & Cía.,2021-03-10,Río Negro,Young,Ruta 6 Km 193,+598 31 428763,contacto@donjuanca.com.uy,Activo
2,3,CL00003,San José & Cía.,2014-04-26,Soriano,Cardona,Ruta 11 Km 107,+598 17 584083,contacto@sanjosca.com.uy,Activo
3,4,CL00004,Los Pinos & Cía.,2010-09-21,Cerro Largo,Fraile Muerto,Ruta 11 Km 1,+598 37 373306,contacto@lospinosca.com.uy,Activo
4,5,CL00005,El Ombú Hermanos,2024-06-15,Rivera,Tranqueras,Ruta 65 Km 170,+598 47 425856,contacto@elombhermanos.com.uy,Activo

In [4]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      80 non-null     int64
 1   customer_number  80 non-null     object
 2   customer_name    80 non-null     object
 3   creation_date    80 non-null     object
 4   department       80 non-null     object
 5   city             80 non-null     object
 6   address          77 non-null     object
 7   phone            75 non-null     object
 8   email            78 non-null     object
 9   status           80 non-null     object
dtypes: int64(1), object(9)
memory usage: 6.4+ KB

In [5]:
df_customers.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
customer_id,80.0,NaN,NaN,NaN,40.5,23.2379,1.0,20.75,40.5,60.25,80.0
customer_number,80,80,CL00001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
customer_name,80,51,San José & Cía.,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
creation_date,80,80,2012-12-27,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
department,80,15,Tacuarembó,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,80,31,Montevideo,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
address,77,76,Ruta 17 Km 60,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phone,75,75,+598 80 605971,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
email,78,53,contacto@sanjosca.com.uy,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,80,2,Activo,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_customers.isna().sum().sort_values(ascending=False)

phone              5
address            3
email              2
customer_id        0
customer_number    0
customer_name      0
city               0
department         0
creation_date      0
status             0
dtype: int64

In [7]:
df_customers.duplicated().sum()

np.int64(0)

## Observaciones – Tabla Customers

- La tabla contiene 80 registros y 10 columnas.
- No se detectaron duplicados exactos en los registros.
- Se identificaron valores nulos en campos no críticos:
  - phone (5 registros)
  - address (3 registros)
  - email (2 registros)
- Las claves `customer_id` y `customer_number` no presentan valores nulos.

Se detecta repetición de valores en `customer_name`, lo que indica que este campo no puede utilizarse como identificador único.  
Para relaciones entre tablas se recomienda utilizar `customer_number`.

In [8]:
df_customers.groupby("customer_name")["customer_number"].nunique().sort_values(ascending=False).head(10)

customer_name
San José & Cía.      4
Celulosa & Cía.      3
El Ombú Hermanos     3
San José Ltda.       3
Maderas S.R.L.       3
San José S.R.L.      3
Santa María Ltda.    3
Forestal S.R.L.      3
Bosques S.A.         3
El Ombú Ltda.        2
Name: customer_number, dtype: int64

In [9]:
df_customers[df_customers["customer_name"] == "San José & Cía."]

,customer_id,customer_number,customer_name,creation_date,department,city,address,phone,email,status
2,3,CL00003,San José & Cía.,2014-04-26,Soriano,Cardona,Ruta 11 Km 107,+598 17 584083,contacto@sanjosca.com.uy,Activo
37,38,CL00038,San José & Cía.,2014-10-24,Río Negro,Young,Ruta 31 Km 113,+598 47 238525,contacto@sanjosca.com.uy,Activo
41,42,CL00042,San José & Cía.,2022-04-09,Paysandú,Quebracho,Ruta 17 Km 67,+598 48 316237,NaN,Activo
50,51,CL00051,San José & Cía.,2021-08-28,Tacuarembó,Tacuarembó,Ruta 43 Km 177,NaN,contacto@sanjosca.com.uy,Activo

### Análisis

- Vemos que los datos tienen distinto ID, distinto customer_number, distintas fechas de creación, distintos departamentos ciudades y teléfonos, pero contacto por correo iguales. En un contexto real, este patrón podría significar que son sucursales de una misma firma, pero al tratarse de datos creados con IA y no estar seguros, tomé la decisión de tratarlos por customer_number como clientes independientes.